[user]
	email = gabeduke@gmail.com
	name = Gabriel Duke
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mylog = log --pretty=format:'%h %s [%an]' --graph
[core]
	editor = vim
[hub]
	protocol = ssh
